
.img-inicio {
  width: 750px;
  height: 657px;
  margin: none;  
  overflow: hidden;
  -webkit-filter: brightness(50%);
  filter:brightness(50%);
 
}

.container {
  margin-right: 20px;
}

.container1 {
  display:flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.109);
  color: solid;
}

.container2 {
  margin-top: 12%;
  margin-right: 2%;
  font-family: 'Bree Serif', serif;
  width: 40%;
}

.titulo-login {
  margin-left: 23%;
  font-size: 300%;
}

.btn-login {
  background-color: #E8794C;
  border: none;
  border-radius: 6%;
  width: 120px;
  height: 40px;
  margin-left: 35%;
  margin-top: 5%;
}


